.works {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 5rem 0;
}

.work-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-head{
    text-align: center;
    font-family: var(--second-font-family);
    font-size: 2rem;
    color: var(--font-color);
    font-weight: 700;
    margin-bottom: 1.5rem;
    position: relative;
    display: inline-block;
    animation: projectheadanimate both;
    animation-timeline: view(70% 0%);
}

@keyframes projectheadanimate{
    0%{
        transform: translateY(-20px);
        opacity: 0;
        scale: 0.4;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
        scale: 1;

    }
}

.project-head::before{
    position: absolute;
    content: "";
    bottom: -7px;
    height: 4px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--font-color);
}

.project-image{
    border-radius: 1rem;
    transition: 0.6s ease;
}

.project-card{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 2rem;
    animation: cardanimation both;
    animation-timeline: view(70% 0%);
}


@keyframes cardanimation{
    0%{
        opacity: 0;
        scale: 0.6;
    }

    100%{
        opacity: 1;
        scale: 1;
    }
}

.project-contents{
    position: absolute;
    inset: 0;
    padding: 1rem;
    background-color: var(--font-color);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* scale: 0; */
    opacity: 0;
    transition: 0.6s ease-in-out;
}

.project-card:hover .project-image{
    scale: 1.3;
}

.project-card:hover .project-contents{
    /* scale: 1; */
    opacity: 1;
}

.project-card-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-p{
    font-family: var(--third-font-family);
    color: var(--bg-color);
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
}
/* 
.project-card{
    background-color: var(--bg-color);
    border-radius: 30px;
    margin-top: 3rem;
    transition: 0.4s ease;
    animation: cardanimation both;
    animation-timeline: view(70% 0%);
}

@keyframes cardanimation{
    0%{
        opacity: 0;
        scale: 0.6;
    }

    100%{
        opacity: 1;
        scale: 1;
    }
}

.project-card:hover{
    box-shadow: 0px 0px 10px 8px #58A6FF;

}

.project-card:hover .project-card-h3{
    color: var(--primary-color);
}

.project-card-h3{
    font-family: var(--second-font-family);
    color: var(--font-color);
    font-size: 1.25rem;
    font-weight: 700;
    transition: 0.4s ease;
}

.project-card-p{
    font-family: var(--third-font-family);
    color: var(--font-color);
    font-size: 0.875rem;
    font-weight: 500;
} */

.project-link{
    font-family: var(--third-font-family);
    color: var(--bg-color);
    font-size: 0.75rem;
    font-weight: 700;
    padding: 10px 0;
    width: 120px;
    border: 2px solid var(--secondary-color);
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    text-align: center;
    transition: 0.4s ease;
}

.project-link:hover{
    background-color: var(--secondary-color);
}

.project-buttons-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.project-text{
    padding: 1.3rem;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-left: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    /* background-color: #191c21; */
}